<% provide(:title, 'Show the Question') %>

<% provide(:title, @question.question_name) %>
    <div class="row">
        <aside class="col-md-4">
            <section class="user_info">
                <h1><%= gravatar_for @user %></h1>
                <h1><%= @user.name%>:<br><br>
                <%= @question.question_name %></h1>
            <br><br>
                <h3>
                <%= @question.question_body %>
                </h3>
                <h3>
                <%= @question.answer %>
                </h3>
                <h3>
                <%= @question.subject %>
                </h3>
            </section>
        </aside>
    </div>