<% provide(:title, 'Build the Quiz') %>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
    <h1>Possible Questions</h1>

    <%= form_tag(quizzes_selected_questions_path, method: :get) do %>
      <ul>
        <% @questions.each do |x| %>
        <li class = checkbox inline>
          <%= check_box_tag 'questions_names[]', x.id %>
          <%= x.question_body %>
        </li>
        <% end %>
      </ul>
      <%= submit_tag "Select the questions for the quiz" %>
      <% end %>
        
        <h1>Search by Subject</h1>

          <%= form_tag(new_quiz_path, :method => "get", id: "search-form") do %>
            <%= text_field_tag :search, params[:search], placeholder: "Search Questions" %>
            <%= submit_tag "Search", :name => nil %>
          <% end %>
    </div>
</div>
